.list {
    display: grid;
    gap: inherit;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    padding-bottom: calc(var(--scale) * 12);

    @media (width > 400px) {
        padding-bottom: calc(var(--scale) * 6);
    }
}
