.move {
    background: transparent;
    border: unset;
    cursor: move;
    display: grid;
    height: 32px;
    padding: 0;
    place-items: center;
    width: 32px;

    &:active,
    &:hover {
        background-color: color-mix(in srgb, transparent, currentColor 6%);
    }

    svg {
        height: auto;
        width: 1em;
    }
}
