#root {
    display: grid;
    grid-template:
        "header" auto
        "main" 1fr;
    min-height: 100dvh;
}

.main {
    display: grid;
    grid-area: main;
    grid-template-columns: min(calc(100vw - var(--scale) * 8), 720px);
    place-content: start center;
}

.header {
    font-size: calc(var(--scale) * 2);
    margin-block: 2rem;
    rotate: -3deg;
    translate: 0 -12%;

    h1 {
        font-size: inherit;
        font-style: italic;
        line-height: 1;
    }

    p {
        font-size: 0.3em;
        font-style: italic;
        line-height: 2;
        opacity: 0.6;
    }

    a {
        margin-inline-start: 0.6ch;

        svg {
            height: 1.2em;
            margin-inline-end: 0.6ch;
            translate: 0 -10%;
            vertical-align: middle;
            width: auto;
        }
    }
}
